@import "../../responsive.scss";

.login {
  display: flex;
  height: 100%;
  width: 100%;

  @include md {
    flex-direction: column;
    text-align: center;
    height: 100%;
    padding-bottom: 30px;
    overflow-y: scroll;
  }

  /* Left Section - Contact Details */
  .formContainer {
    flex: 3;

    @include md {
      flex: none;
      width: 100%;
    }

    .wrapper {
      padding: 40px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;

      @include md {
        padding: 30px;
      }
      @include sm {
        padding: 20px;
      }

      h1 {
        font-size: 36px;
        color: #333;
        margin-bottom: 20px;
        font-weight: 700;
        text-align: center;

        @include sm {
          font-size: 28px;
        }
      }

      form {
        display: flex;
        flex-direction: column;
        gap: 15px;
        justify-content: center;
        align-items: center;
        width: 100%;

        input {
          width: 70%;
          padding: 12px;
          font-size: 16px;
          border: 1px solid #ccc;
          border-radius: 8px;

          @include sm {
            font-size: 14px;
            padding: 10px;
          }
        }

        button {
          background-color: #fece51;
          width: 70%;
          border-radius: 10px;
          font-size: 20px;
          padding: 15px 20px;
          color: white;
          border: none;
          cursor: pointer;
          transition: background-color 0.3s;

          &:hover {
            background-color: darken(#fece51, 10%);
          }

          @include md {
            padding: 10px;
            font-size: 16px;
          }

          @include sm {
            padding: 5px;
            font-size: 14px;
          }
        }
        .loginLink {
          align-self: center;
          color: gray;
          cursor: pointer;
        }
        .error {
          color: red;
          font-size: 12px;
          width: 70%;
        }
      }
    }
  }

  /* Right Section - Contact Form */
  .imgContainer {
    flex: 2;
    background-color: #fcf5f3; /* Background color for right side */
    display: flex;
    align-items: center;
    justify-content: center;

    @include md {
      flex: none;
      width: 100%;
      height: auto;
    }

    .wrapper {
      padding: 40px;
      width: 100%;
      img {
        width: 109%;
      }
    }
  }
}
