.chat {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  .messages {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow-y: scroll;

    h1 {
      margin-bottom: 20px;
      font-weight: 300;
    }
  }
  .chatbox {
    flex: 1;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
